* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Rubik", sans-serif;
	line-height:1;
	/*border: 0.5px black solid;*/
	/* outline: 2px solid black; */
	
}

@font-face {
    font-family: myFirstFont;
    src: url(digital.ttf);
}
img {
	display: flex;

	object-fit: contain;
}
span {
	display: flex;
	font-size: clamp(2rem, 5vh , 4rem);
	
}
.container {
	display: flex;
	width: 100dvw;
	height: 100dvh;
	background-color: #8c5d3b;
	justify-content: center;
	align-items: center;
flex-direction: column;
background-image:url(misc/background.jpg);
background-repeat: no-repeat;
background-size: cover;

}

.centered-container {
	display: flex;
	  overflow: hidden;
	background-color: #3b3853;
	
	flex-basis: 133.33vw; 
	flex-direction: column;
	border-radius: 1rem;
	aspect-ratio: 3 / 4;
	justify-content: center;
	align-items: center;
}
.display-container{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 95%;
	margin-top: 2.5vh;
	margin-bottom:2.5vh;
	border-radius: 1rem;
	overflow: hidden;
}
.indicator-container{
	display: flex;
	flex-basis: 15%;
	background-color: #322020;
	color: #D3D3D3;
	
}
.indicator{
	display: flex;
	flex-basis: 25%;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: clamp(0.1rem, 2vh , 5rem);
	
}
.display{
display: flex;
flex-grow: 1;
background-color: #d5e3e4;
font-size: clamp(2rem, 6vh + 4vw, 30rem);
justify-content: flex-end;
align-items: flex-end;
font-family: myFirstFont;
color: black;
padding: 1vh;

}
.button-container{
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
	width: 95%;
	 flex-wrap: wrap; 
	align-content: center;
	justify-content: space-between;
	align-items: center;
	
	color: black;
	gap: 1vh;
	margin-bottom: 2.5vh;
	
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: calc(18% - 0.8vh); 
	align-content: center;
	background-color: #868692;
	border-radius: 1rem;
	flex-grow: 0;
	flex-shrink: 1;
	transition: background-color 0.3s ease;
	color: #FFFFFF;
	cursor: pointer;
}
.button:hover {
    background-color: #4e4e57;
	color: #E0E6ED ;
}
.operator{
	background-color: #191923; /* İşlem ve özel butonlar için farklı renk */
}
.all-clear,.clear{
	background-color: #b86382;

}
.all-clear:hover,.clear:hover{
	background-color: #c42424;

}

.operator:hover{
	background-color: #000000; /* İşlem ve özel butonlar için farklı renk */
}
.row{
	display: flex;
	width: 100%;
	flex-basis: calc(20% - 0.8vh);
	gap: 1vh;
	justify-content: space-between;
}
