* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Rubik", sans-serif;
	line-height:1;
	/*border: 0.5px black solid;*/
	/* outline: 2px solid black; */
	
}

img {
	display: flex;

	object-fit: contain;
}
span {
	display: flex;
	font-size: clamp(0.5rem, 5vh, 3rem);
	
}
.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #548687;
	justify-content: center;
	align-items: center;
flex-direction: column;
}

.centered-container {
	display: flex;
	
	background-color: #1d3849;
	
	flex-basis: 133.33vw; 
	flex-direction: column;

	aspect-ratio: 3 / 4;
	justify-content: center;
	align-items: center;
}
.display-container{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 95%;
	margin-top: 2.5vh;
	margin-bottom:2.5vh;
	
}
.indicator-container{
	display: flex;
	flex-basis: 15%;
	background-color: #1C1C1C;
}
.display{
display: flex;
flex-grow: 1;
background-color: #505050;
}
.button-container{
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
	width: 95%;
	 flex-wrap: wrap; 
	align-content: center;
	justify-content: space-between;
	align-items: center;
	
	color: black;
	gap: 1vh;
	margin-bottom: 2.5vh;
	
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: calc(18% - 0.8vh); 
	align-content: center;
	background-color: #a2bbcf;
	border-radius: 5vh;
	flex-grow: 0;
	flex-shrink: 1;
	
}
.row{
	display: flex;
	width: 100%;
	flex-basis: calc(20% - 0.8vh);
	gap: 1vh;
	justify-content: space-between;
}
